.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    z-index: 3;
  }
  
  .next {
    right: 10px;
  }
  
  .prev {
    left: -80px;
  }